<div class="col-md-12">
    <nav class="navbar navbar-expand-lg bg-info">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" (click)="goToHome()">{{username}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a (click)="logout()" class="nav-link">Log out</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>
    <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Password</h4>
                      <p class="card-category">Change your password</p>
                  </div>
                  <div class="card-body">
                      <form action="update()">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput  placeholder="New password" [(ngModel)]="user.newPassword1" name="pass1" type="password">
                                  </mat-form-field>
                              </div>
                              
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password again" type="password" [(ngModel)]="user.newPassword2" name="pass2">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput  placeholder="Current password" type="password" [(ngModel)]="user.currentPassword" name="pass3">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                        
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="update()">Save</button>
                          <button mat-raised-button  class="btn btn-info pull-right" (click)="goToHome()" >Cancel</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        </div>
      </div>
  </div>